<h2 >Add a Burger!!!!! One and Only BURGER!!!</h2>
<form class="create-form">

  <div class="form-group">
    <label for="burger_id">Burger:</label>
    <input type="text" id="burger_id" name="burger_name">
  </div>

  <div class="form-group">
    <label for="devoured">Devoured?</label><br>
      
    <input type="radio" name="devoured" value="0" checked>Needs to be Devoured!
    <br>
    <input type="radio" name="devoured" value="1">Devoured!
  </div>

  <button type="submit">Add Burger 🍔 </button>
</form>
<div class="container">
  <div id="devour_id">
    <h2>Burgers waiting TO BE DEVOURED</h2>
    <ul id="ulFirst">
      {{#each burgers}}
        {{#unless devoured}}
          <p>{{id}}. {{burger_name}}
            <span><button class="change-devour" data-id="{{id}}" data-newdevour=true>
              {{#if devoured}}devoured!{{else}}devour me!{{/if}}
            </button></span>
          </p>
        {{/unless}}
      {{/each}}
    </ul>
  </div>
  <div class="devBurg">
    <h2>DEVOURED Burgers</h2>

      <ul id="ulSecond">
        {{#each burgers}}
          {{#if devoured}}
            <p>{{id}}. {{burger_name}}</p>
          {{/if}}
        {{/each}}
      </ul>
  </div>
</div>